#encoding UTF-8
#errorCatcher Echo
#import random
#def relativeModifier($num, $factor)
#if $num.raw is None
#return
#end if
#if abs($num.raw) > $factor
${random.choice(('a lot', 'mega', 'insanely'))}
#elif abs($num.raw) > ($factor * 0.75)
${random.choice(('much', 'a bunch', 'a good deal'))}
#elif abs($num.raw) > ($factor * 0.5)
${random.choice(('somewhat', 'kinda', 'subtly'))}
#else
${random.choice(('a bit', 'a little'))}
#end if
#end def
#def either($num, $a, $b)
#if $num.raw is None
#return
#end if
#if $num.raw > 0
$a
#else
$b
#end if
#end def
#def dayPart()
  #if $current is None
    #return
  #end if
  #set $hour = int($current.dateTime.format("%H"))
#if $hour >= 12 and $hour <= 17
yesterday afternoon#slurp
#elif $hour >= 17 or $hour <= 5
last night#slurp
#else
yesterday morning#slurp
#end if
#end def

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Big Boy Weather</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta name="viewport" content="width=device-width">
		<link rel="preload" href="/inconsolata.woff" as="font" type="font/woff" crossorigin>
		<link rel="preload" href="/inconsolata-bold.woff" as="font" type="font/woff" crossorigin>
	</head>
	<body>
		<article>
		<main>
		<header>
			<img width="481" height="100" src="https://bigboy.us/other/bigboyweather.png" alt="Big Boy Weather" />
			<div class='station-name'>$station.location</div>
			<div class='station-time'>Last updated: $current.dateTime | <a href="https://weather.bigboy.us/log/">weather log</a></div>
		</header>

			<h3>Current Observations</h3>
			<section class='metrics'>

				<div class='metric'>
					<h4 class='metric-title'>Temperature</h4>
					<p><span class="metric-big">$current.outTemp.formatted<span class='metric-units'>$unit.label.outTemp</span></span></p>
					<h5>Heat index:</h5>
					<p><span class='heatindex'>$current.heatindex.formatted</span></p>
					<h5>Wind chill:</h5>
					<p><span class='windchill'>$current.windchill.formatted</span></p>
					<p class="metric-relative">It's $relativeModifier($trend($time_delta=86400).outTemp, 16) ${either($trend($time_delta=86400).outTemp, "warmer", "colder")} than ${dayPart()}.</p>
				</div>

				<div class='metric'>
					<h4 class='metric-title'>Humidity</h4>
					<p><span class="metric-big">$current.outHumidity.formatted<span class='metric-units'>$unit.label.outHumidity</span></span></p>
					<h5>Dewpoint:</h5>
					<p>$current.dewpoint.formatted<span class='metric-units'>$unit.label.dewpoint</span></p>
					<p class="metric-relative">
						It's $relativeModifier($trend($time_delta=86400).outHumidity, 40) $either($trend($time_delta=86400).outHumidity, "more humid", "less humid") than $dayPart().#if $current.dewpoint.raw > 70 then " The dewpoint is <span style=\"color:red;\">nasty</span>." else "" # 
					</p>
				</div>

				<div class='metric'>
					<h4 class='metric-title'>Barometer</h4>
					<p>$current.barometer.formatted<span class='metric-units'>$unit.label.barometer</span></p>
					<p>
						#if $varExists('trend')
						#if $trend.barometer.raw is not None:
						#if $trend.barometer.raw > 6
									<span class='arrow-up'>&#8679;&#8679;&#8679;</span>
						#elif $trend.barometer.raw > 3
									<span class='arrow-up'>&#8679;&#8679;</span>
						#elif $trend.barometer.raw > 0.5
									<span class='arrow-up'>&#8679;</span>
						#elif $trend.barometer.raw < -6
									<span class='arrow-down'>&#8681;&#8681;&#8681;</span>
						#elif $trend.barometer.raw < -3
									<span class='arrow-down'>&#8681;&#8681;</span>
						#elif $trend.barometer.raw < 0.5
									<span class='arrow-down'>&#8681;</span>
						#end if
						#end if
						#end if
					</p>
				</div>

			<div class='metric'>
				<h4 class='metric-title'>Wind</h4>
				<p>$current.windSpeed.formatted<span class='metric-units'>$unit.label.windSpeed</span></p>
				<p>$current.windDir.ordinal_compass ($current.windDir)</p>
				<p class='wind-direction'>
		#if $current.windDir.raw is None:
					-
		#else
		#if $current.windDir.raw < 22.5
					&#8593;
		#elif $current.windDir.raw < 67.5
					&#8599;
		#elif $current.windDir.raw < 112.5
					&#8594;
		#elif $current.windDir.raw < 157.5
					&#8600;
		#elif $current.windDir.raw < 202.5
					&#8595;
		#elif $current.windDir.raw < 247.5
					&#8601;
		#elif $current.windDir.raw < 292.5
					&#8592;
		#elif $current.windDir.raw < 337.5
					&#8598;
		#else
					&#8593;
		#end if
		#end if
				</p>
				<h5>Max</h5>
				<p>$day.wind.max.formatted<span class='metric-units'>$unit.label.windSpeed</span></p>
				<h5>Average</h5>
				<p>$day.wind.avg.formatted<span class='metric-units'>$unit.label.windSpeed</span></p>
				<p>
		#if $varExists('trend')
		#if $trend.windSpeed.raw is not None:
		#if $trend.windSpeed.raw > 0
					<span class='arrow-up'>&#8679;</span>
		#elif $trend.windSpeed.raw < 0
					<span class='arrow-down'>&#8681;</span>
		#end if
		#end if
		#end if
				</p>
                                        <p class="metric-relative">
                                                It's $relativeModifier($trend($time_delta=86400).windSpeed, 40) $either($trend($time_delta=86400).windSpeed, "windier", "less windy") than $dayPart().
                                        </p>
			</div>

			<div class='metric'>
		#if $day.rain.sum.raw
				<h4 class='metric-title'>Precipitation</h4>
				<h5>Recent</h5>
				<p><span class="metric-big">$current.rain.formatted</span><span class='metric-units'>$unit.label.rain</span></p>
				<h5>Most intense</h5>
				<p>$day.rainRate.max.formatted<span class='metric-units'>$unit.label.rainRate</span></p>
				<h5>Total today</h5>
				<p>$day.rain.sum.formatted</p>
		#else
				<h4 class='metric-title'>(No rain today)</h4>
		#end if
			</div>

		#if $day.UV.has_data
			<div class='metric'>
				<h4 class='metric-title'>UV</h4>
				<h5>UV Index</h5>
				<p>$current.UV.formatted</p>
				<h5>Max today</h5>
				<p>$day.UV.max.formatted</p>
				<h5>Min today</h5>
				<p>$day.UV.min.formatted</p>
			</div>
		#end if

			<div class='metric'>
				<h4 class='metric-title'>Temperature Inside</h4>
				<p>$current.inTemp.formatted<span class='metric-units'>$unit.label.outTemp</span></p>
				<h5>High</h5>
				<p>$day.inTemp.max.formatted<span class='metric-units'>$unit.label.outTemp</span></p>
				<h5>Low</h5>
				<p>$day.inTemp.min.formatted<span class='metric-units'>$unit.label.outTemp</span></p>
			</div>

			<div class='metric'>
				<h4 class='metric-title'>Humidity Inside</h4>
				<p>$current.inHumidity.formatted<span class='metric-units'>$unit.label.outHumidity</span></p>
				<h5>High</h5>
				<p>$day.inHumidity.max.formatted<span class='metric-units'>$unit.label.outHumidity</span></p>
				<h5>Low</h5>
				<p>$day.inHumidity.min.formatted<span class='metric-units'>$unit.label.outHumidity</span></p>
			</div>

				<div class='metric'>
					<p>sunrise:  $almanac.sunrise</p>
					<p>sunset:  $almanac.sunset</p>
					<p>moon: $almanac.moon_phase</p>
					<p><span class="moon-emoji">
					${('🌑', '🌒', '🌓', '🌔', '🌕', '🌖', '🌗', '🌘')[$almanac.moon_index]}
					</span>
					</p>
				</div>

		</section>
		<section class="forecast">
			<figure>
				<img height="200" width="200" src="https://bigboy.us/other/weather-wizard.jpg" alt="wizard">
			</figure>
			<div>
				<h3>The Forecast</h3>
				<pre>
				#include raw $Extras.forecast_path
				</pre>
			</div>
		</section>

		<h3>Almanac</h3>
		<div class="table-wrapper">
		<table class='almanac'>
			<thead>
				<tr>
					<th></th>
					<th>Today</th>
					<th>This Month</th>
					<th>This Year</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>High Temperature:</td>
					<td>$day.outTemp.max.formatted
					<span class="almanac-date">$day.outTemp.maxtime</span></td>
					<td>$month.outTemp.max.formatted
					<span class="almanac-date">$month.outTemp.maxtime</span></td>
					<td>$year.outTemp.max.formatted
					<span class="almanac-date">$year.outTemp.maxtime</span></td>
					<td>$unit.label.outTemp</td>
				</tr>
				<tr>
					<td>Low Temperature:</td>
					<td>$day.outTemp.min.formatted
					<span class="almanac-date">$day.outTemp.mintime</span></td>
					<td>$month.outTemp.min.formatted
					<span class="almanac-date">$month.outTemp.mintime</span></td>
					<td>$year.outTemp.min.formatted
					<span class="almanac-date">$year.outTemp.mintime</span></td>
					<td>$unit.label.outTemp</td>
				</tr>
				<tr>
					<td>High Humidity:</td>
					<td>$day.outHumidity.max.formatted
					<span class="almanac-date">$day.outHumidity.maxtime</span></td>
					<td>$month.outHumidity.max.formatted
					<span class="almanac-date">$month.outHumidity.maxtime</span></td>
					<td>$year.outHumidity.max.formatted
					<span class="almanac-date">$year.outHumidity.maxtime</span></td>
					<td>$unit.label.outHumidity</td>
				</tr>
				<tr>
					<td>Low Humidity:</td>
					<td>$day.outHumidity.min.formatted
					<span class="almanac-date">$day.outHumidity.mintime</span></td>
					<td>$month.outHumidity.min.formatted
					<span class="almanac-date">$month.outHumidity.mintime</span></td>
					<td>$year.outHumidity.min.formatted
					<span class="almanac-date">$year.outHumidity.mintime</span></td>
					<td>$unit.label.outHumidity</td>
				</tr>
				<tr>
					<td>High Dewpoint:</td>
					<td>$day.dewpoint.max.formatted
					<span class="almanac-date">$day.dewpoint.maxtime</span></td>
					<td>$month.dewpoint.max.formatted
					<span class="almanac-date">$month.dewpoint.maxtime</span></td>
					<td>$year.dewpoint.max.formatted
					<span class="almanac-date">$year.dewpoint.maxtime</span></td>
					<td>$unit.label.dewpoint</td>
				</tr>
				<tr>
					<td>Low Dewpoint:</td>
					<td>$day.dewpoint.min.formatted
					<span class="almanac-date">$day.dewpoint.mintime</span></td>
					<td>$month.dewpoint.min.formatted
					<span class="almanac-date">$month.dewpoint.mintime</span></td>
					<td>$year.dewpoint.min.formatted
					<span class="almanac-date">$year.dewpoint.mintime</span></td>
					<td>$unit.label.dewpoint</td>
				</tr>
				<tr>
					<td>High Barometer:</td>
					<td>$day.barometer.max.formatted
					<span class="almanac-date">$day.barometer.maxtime</span></td>
					<td>$month.barometer.max.formatted
					<span class="almanac-date">$month.barometer.maxtime</span></td>
					<td>$year.barometer.max.formatted
					<span class="almanac-date">$year.barometer.maxtime</span></td>
					<td>$unit.label.barometer</td>
				</tr>
				<tr>
					<td>Low Barometer:</td>
					<td>$day.barometer.min.formatted
					<span class="almanac-date">$day.barometer.mintime</span></td>
					<td>$month.barometer.min.formatted
					<span class="almanac-date">$month.barometer.mintime</span></td>
					<td>$year.barometer.min.formatted
					<span class="almanac-date">$year.barometer.mintime</span></td>
					<td>$unit.label.barometer</td>
				</tr>
				<tr>
					<td>High Heat Index:</td>
					<td>$day.heatindex.max.formatted
					<span class="almanac-date">$day.heatindex.maxtime</span></td>
					<td>$month.heatindex.max.formatted
					<span class="almanac-date">$month.heatindex.maxtime</span></td>
					<td>$year.heatindex.max.formatted
					<span class="almanac-date">$year.heatindex.maxtime</span></td>
					<td>$unit.label.heatindex</td>
				</tr>
				<tr>
					<td>Low Wind Chill:</td>
					<td>$day.windchill.min.formatted
					<span class="almanac-date">$day.windchill.mintime</span></td>
					<td>$month.windchill.min.formatted
					<span class="almanac-date">$month.windchill.mintime</span></td>
					<td>$year.windchill.min.formatted
					<span class="almanac-date">$year.windchill.mintime</span></td>
					<td>$unit.label.windchill</td>
				</tr>
				<tr>
					<td>High Wind Speed:</td>
					<td>$day.wind.max.formatted
					<span class="almanac-date">$day.wind.maxtime</span></td>
					<td>$month.wind.max.formatted
					<span class="almanac-date">$month.wind.maxtime</span></td>
					<td>$year.wind.max.formatted
					<span class="almanac-date">$year.wind.maxtime</span></td>
					<td>$unit.label.wind</td>
				</tr>
				<tr>
					<td>Ave Wind Speed:</td>
					<td>$day.wind.avg.formatted</span></td>
					<td>$month.wind.avg.formatted</span></td>
					<td>$year.wind.avg.formatted</span></td>
					<td>$unit.label.wind</td>
				</tr>
				<tr>
					<td>High Rain Rate:</td>
					<td>$day.rainRate.max.formatted
					<span class="almanac-date">$day.rainRate.maxtime</span></td>
					<td>$month.rainRate.max.formatted
					<span class="almanac-date">$month.rainRate.maxtime</span></td>
					<td>$year.rainRate.max.formatted
					<span class="almanac-date">$year.rainRate.maxtime</span></td>
					<td>$unit.label.rainRate</td>
				</tr>
				<tr>
					<td>Rain Total:</td>
					<td>$day.rain.sum.formatted</td>
					<td>$month.rain.sum.formatted</span></td>
					<td>$year.rain.sum.formatted</span></td>
					<td>$unit.label.rain</td>
				</tr>
			</tbody>
			<thead class='break'>
				<tr><th colspan="5">Indoors</th></tr>
			</thead>
			<tbody>
				<tr>
					<td>High Temperature:</td>
					<td>$day.inTemp.max.formatted
					<span class="almanac-date">$day.inTemp.maxtime</span></td>
					<td>$month.inTemp.max.formatted
					<span class="almanac-date">$month.inTemp.maxtime</span></td>
					<td>$year.inTemp.max.formatted
					<span class="almanac-date">$year.inTemp.maxtime</span></td>
					<td>$unit.label.inTemp</td>
				</tr>
				<tr>
					<td>Low Temperature:</td>
					<td>$day.inTemp.min.formatted
					<span class="almanac-date">$day.inTemp.mintime</span></td>
					<td>$month.inTemp.min.formatted
					<span class="almanac-date">$month.inTemp.mintime</span></td>
					<td>$year.inTemp.min.formatted
					<span class="almanac-date">$year.inTemp.mintime</span></td>
					<td>$unit.label.inTemp</td>
				</tr>
				<tr>
					<td>High Humidity:</td>
					<td>$day.inHumidity.max.formatted
					<span class="almanac-date">$day.inHumidity.maxtime</span></td>
					<td>$month.inHumidity.max.formatted
					<span class="almanac-date">$month.inHumidity.maxtime</span></td>
					<td>$year.inHumidity.max.formatted
					<span class="almanac-date">$year.inHumidity.maxtime</span></td>
					<td>$unit.label.inHumidity</td>
				</tr>
				<tr>
					<td>Low Humidity:</td>
					<td>$day.inHumidity.min.formatted
					<span class="almanac-date">$day.inHumidity.mintime</span></td>
					<td>$month.inHumidity.min.formatted
					<span class="almanac-date">$month.inHumidity.mintime</span></td>
					<td>$year.inHumidity.min.formatted
					<span class="almanac-date">$year.inHumidity.mintime</span></td>
					<td>$unit.label.inHumidity</td>
				</tr>
			</tbody>
		</table>
		</div>

		</main>

		<section class='images'>
			<nav class='images-selector'>
				<span>Show: </span>
				<label>
					<input type="radio" name="period-selected" value="day" checked>
					Day
				</label>
				<label>
					<input type="radio" name="period-selected" value="week">
					Week
				</label>
				<label>
					<input type="radio" name="period-selected" value="month">
					Month
				</label>
				<label>
					<input type="radio" name="period-selected" value="year">
					Year
				</label>
			</nav>

			<div class='images-set period-selected' data-period='day'>
				<img src="dayinouttempdew.png" width="500" height="180" alt="temperatures" />
				<img src="dayinouthum.png" width="500" height="180" alt="humidity" />
				<img src="daybarometer.png" width="500" height="180" alt="barometer"/>
				<img src="daytempchill.png" width="500" height="180" alt="heatchill" />
				<img src="daywind.png" loading="lazy" width="500" height="180" alt="wind" />
				#if $day.rain.sum.raw
				<img src="dayrain.png" loading="lazy" width="500" height="180" alt="rain" />
				#end if
				#if $day.radiation.has_data
				<img src="dayradiation.png" loading="lazy" width="500" height="180" alt="radiation" />
				#end if
				#if $day.UV.has_data
				<img src="dayuv.png" loading="lazy" width="500" height="180" alt="uv" />
				#end if
			</div>

			<div class='images-set' data-period='week'>
				<img src="weekinouttempdew.png" loading="lazy" width="500" height="180" alt="temperatures" />
				<img src="weekinouthum.png" loading="lazy" width="500" height="180" alt="humidity" />
				<img src="weekbarometer.png" loading="lazy" width="500" height="180" alt="barometer"/>
				<img src="weektempchill.png" loading="lazy" width="500" height="180" alt="heatchill" />
				<img src="weekwind.png" loading="lazy" width="500" height="180" alt="wind" />
				<img src="weekwinddir.png" loading="lazy" width="500" height="180" alt="wind direction" />
				<img src="weekwindvec.png" loading="lazy" width="500" height="180" alt="wind vectors" />
				<img src="weekrain.png" loading="lazy" width="500" height="180" alt="rain" />
				#if $week.radiation.has_data
				<img src="weekradiation.png" loading="lazy" width="500" height="180" alt="radiation" />
				#end if
				#if $week.UV.has_data
				<img src="weekuv.png" loading="lazy" width="500" height="180" alt="uv" />
				#end if
			</div>

			<div class='images-set' data-period='month'>
				<img src="monthinouttempdew.png" loading="lazy" width="500" height="180" alt="temperatures" />
				<img src="monthinouthum.png" loading="lazy" width="500" height="180" alt="humidity" />
				<img src="monthbarometer.png" loading="lazy" width="500" height="180" alt="barometer"/>
				<img src="monthtempchill.png" loading="lazy" width="500" height="180" alt="heatchill" />
				<img src="monthwind.png" loading="lazy" width="500" height="180" alt="wind" />
				<img src="monthwinddir.png" loading="lazy" width="500" height="180" alt="wind direction" />
				<img src="monthwindvec.png" loading="lazy" width="500" height="180" alt="wind vectors" />
				<img src="monthrain.png" loading="lazy" width="500" height="180" alt="rain" />
				#if $month.radiation.has_data
				<img src="monthradiation.png" loading="lazy" width="500" height="180" alt="radiation" />
				#end if
				#if $month.UV.has_data
				<img src="monthuv.png" loading="lazy" width="500" height="180" alt="uv" />
				#end if
			</div>

			<div class='images-set' data-period='year'>
				<img src="yearinouttempdew.png" loading="lazy" width="500" height="180" alt="temperatures" />
				<img src="yearinouthum.png" loading="lazy" width="500" height="180" alt="humidity" />
				<img src="yearbarometer.png" loading="lazy" width="500" height="180" alt="barometer"/>
				<img src="yeartempchill.png" loading="lazy" width="500" height="180" alt="heatchill" />
				<img src="yearwind.png" loading="lazy" width="500" height="180" alt="wind" />
				<img src="yearwinddir.png" loading="lazy" width="500" height="180" alt="wind direction" />
				<img src="yearwindvec.png" loading="lazy" width="500" height="180" alt="wind vectors" />
				<img src="yearrain.png" loading="lazy" width="500" height="180" alt="rain" />
				#if $year.radiation.has_data
				<img src="yearradiation.png" loading="lazy" width="500" height="180" alt="radiation" />
				#end if
				#if $year.UV.has_data
				<img src="yearuv.png" loading="lazy" width="500" height="180" alt="uv" />
				#end if
			</div>
			<div>
				<h4>Continental United States of $current.outTemp.formatted $unit.label.outTemp</h4>
				<a href="https://weather.bigboy.us/same-temp/$current.outTemp.formatted/?spread=3"><img src="https://weather.bigboy.us/same-temp/$current.outTemp.formatted/map.png?spread=3" width="500" lazy /></a>
			</div>
		</section>
		</article>
		<div class='suns'>
			<picture>
				<source media="(prefers-reduced-motion)" srcset="sunrise.jpg" width="600" />
				<img src="sunrise.gif" alt="sunrise" width="600"loading="lazy"/>
			</picture>
			<picture>
				<source media="(prefers-reduced-motion)" srcset="sunset.jpg" width="600" />
				<img src="sunset.gif" alt="sunset" width="600" loading="lazy"/>
			</picture>
		</div>
		<footer>
			<h4>Station info:</h4>
			<p>altitude: $station.altitude</p>
			<p>hardware: $station.hardware</p>
			<p>software: weewx $station.version ($station.uptime)</p>
			<img alt="Never base important decisions from this website" src="https://bigboy.us/other/never-base.jpg" height="20" width="198" loading="lazy" />
		</footer>
	</body>
</html>
