@font-face {
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata"),
		url("inconsolata.woff") format("woff");
}
@font-face {
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: 700;
	src: local("Inconsolata Bold"), local("Inconsolata-Bold"),
		url("inconsolata-bold.woff") format("woff");
}
body {
	font-family: "Inconsolata", monospace;
}

.metric-units {
	/*vertical-align: super*/
}

.metrics {
}

.metric {
	font-size: 1rem;
	margin: 1rem 1rem 1rem 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.metric-big {
	font-size: 2rem;
}

.metric h4,
.metric h5 {
	margin: 0 0.5rem 0 0;
}

.metric-title {
	flex-basis: 100%;
	text-transform: uppercase;
	font-weight: normal;
	opacity: 0.5;
}

.metric-relative {
	flex-basis: 100%;
}

.metric h5 {
	font-weight: normal;
	font-style: italic;
	font-size: inherit;
}

.metric p {
	margin: 0 1rem 0 0;
}

.moon-emoji {
	font-size: 2rem;
	vertical-align: middle;
}

.table-wrapper {
	overflow-x: scroll;
}

.almanac-date {
	opacity: 0.3;
	display: block;
}

.almanac tbody tr td {
	vertical-align: top;
}

.almanac tbody tr td:nth-of-type(2),
.almanac tbody tr td:nth-of-type(3),
.almanac tbody tr td:nth-of-type(4) {
	text-align: center;
	padding: 0 1rem;
}

.almanac .break th {
	padding: 0.5rem;
}

.forecast {
	display: flex;
}

@media (max-width:600px) {
	.forecast {
		display: block;
	}
}

.forecast h3 {
}

.forecast figure {
	margin: 1rem 1rem 0 0;
}
.forecast img {
	width: 200px;
}

.forecast pre {
	white-space: pre-wrap;
	clear: both;
}

footer p {
	margin: 0;
}

article {
	display: flex;
}
@media (max-width:600px) {
	article {
		display: block;
	}
}

.images {
	margin: 0 4rem;
}
@media (max-width: 600px) {
	.images {
		margin: 0;
	}
}
.images-set {
	display: none;
}
	.images:has(input[value="day"]:checked) [data-period="day"] {
		display: block;
	}
	.images:has(input[value="week"]:checked) [data-period="week"] {
		display: block;
	}
	.images:has(input[value="month"]:checked) [data-period="month"] {
		display: block;
	}
	.images:has(input[value="year"]:checked) [data-period="year"] {
		display: block;
	}

.images-selector {
	padding: 1rem 0;
}

.images-selector > label {
	color: black;
	cursor: pointer;
}

.images-selector > label:has(input:checked) {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.suns {
	display: flex;
	padding: 2rem 0;
}
.suns img {
	max-width: calc((100vw / 2) - 0.5rem);
}
@media (max-width: 600px) {
	.suns {
		display: block;
	}
	.suns img {
		max-width: calc(100vw - 1rem);
	}
}

@media (max-width: 480px) {
	body {
		display: block;
	}
	img {
		max-width: 100%;
	}
}

.wind-direction {
	animation-duration: 3s;
	animation-name: rotate;
}

.arrow-down,
.arrow-up {
	display: inline-block;
}

.arrow-up {
	animation: up 3s infinite;
}

.arrow-down {
	animation: down 3s infinite;
}

@keyframes rotate {
	from {
		transform: rotate(40deg);
	}

	50% {
		transform: rotate(-40deg);
	}

	to {
		transform: rotate(0deg);
	}
}

@keyframes down {
	from {
		transform: translateY(-0.5rem);
	}

	to {
		transform: translateY(0.5rem);
	}
}

@keyframes up {
	from {
		transform: translateY(0.5rem);
	}

	to {
		transform: translateY(-0.5rem);
	}
}
